nav{
    background-color: cadetblue;
}

nav ol a{
    background-color: darkgrey;
    display: block;
    list-style: none;
    padding: 16px;
    border: 1px solid rgb(227, 243, 9);
    font-family: sans-serif;
}
nav ol {
    display: flex;
    padding: 0;
    background-color: cornsilk;
}